# SVN Reports Dashboard
Reporting import/upload pipelines

### Import Libraries
Libraries necessary to parse through each dashboard

In [1]:
from IPython.display import display, Markdown, Latex
import pandas as pd

### Set up Table Styles
Use `pandas.style` to set up some graphical styles for the main reports table.

In [2]:
table_styles = [{
    'selector': 'td',
    'props': [('background-color', '#808080'), ('color', '#FFFFFF')]
}, 
{
    'selector': 'th',
    'props': [('background-color', '#000000'), ('color', '#FF0000')]
}]

### Define Functions
Define functions to parse through each of the sites and print them to the screen

In [3]:
sites = ["Reports", "Duke", "OHSU", "SRI", "UCSD", "UPMC"]

def load_dataframe_and_display(file_name=None):
    display(Markdown('## ' + file_name + ' Dashboard'))
    # new path should be '../../../../../log/status_reports/'    display(Markdown('SLA Reports dashboard for ' + file_name + ' site '))
    df = pd.read_csv('../status_reports/' + file_name.lower() + '.csv')
    display(df.style.set_table_styles(
        table_styles
    ))

def main():
    for site in sites:
        load_dataframe_and_display(site)

### Run all
Run functions and produce dashboards for each site

In [21]:
main()

## Reports Dashboard

SLA Reports dashboard for Reports site

## Duke Dashboard

SLA Reports dashboard for Duke site

## OHSU Dashboard

SLA Reports dashboard for OHSU site

## SRI Dashboard

SLA Reports dashboard for SRI site

## UCSD Dashboard

SLA Reports dashboard for UCSD site

## UPMC Dashboard

SLA Reports dashboard for UPMC site